.footer-content {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-size: 14px;
  }
  
  .footer-nav, .social-media, .footer-legal {
    margin-bottom: 20px;
  }
  
  .footer-nav h4, .social-media h4 {
    margin-bottom: 10px;
  }
  
  .footer-nav ul, .social-media ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-nav ul li a, .social-media ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-nav ul li a:hover, .social-media ul li a:hover {
    color: #aaa;
  }
  
  .footer-legal p {
    margin: 0;
    font-size: 12px;
  }


  @media (min-width: 768px) {
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
    }
  
    .footer-nav, .social-media {
      flex: 1;
    }
  
    .footer-nav ul, .social-media ul {
      display: flex;
      justify-content: space-evenly;
    }
  
    .footer-legal {
      flex: 1;
      text-align: right;
    }
  
    .footer-legal p {
      font-size: 14px;
    }
  }