/* You can add global styles to this file, and also import other style files */

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  
}

body {
  display: flex;
  flex-direction: column;
}
footer {
  flex-shrink: 0;
}

main {
  flex: 1;
  padding: 20px;
}
/* Responsividade */

@media screen and (min-width: 768px) {
    .login-container {
      max-width: 400px; /* Largura máxima de 400px para desktops */
      margin: 50px auto; /* Margem de 50px acima e abaixo e centralizado horizontalmente */
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .form-group label {
      margin-bottom: 5px;
    }
  
    .form-group input[type="text"],
    .form-group input[type="password"] {
      width: 100%;
      padding: 10px;
    }
  
    button[type="submit"] {
      width: 100%;
      padding: 10px;
      font-size: 16px;
    }
  }

